
# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store


# Environment variables (sensitive)
.env

# Project specific
out/
*.log

# Private folder for sensitive files
private/

# FVM Version Cache
.fvm/

.opencode/

.shared/
.claude/skills/ui-ux-pro-max/scripts/__pycache__/core.cpython-314.pyc
.claude/skills/ui-ux-pro-max/scripts/__pycache__/design_system.cpython-314.pyc
